# Ignore everything
/*

# Exceptions
!.gitignore
!*.sh
!example.env

## Track container configs only
!containers
containers/*

!containers/cloudflare_ddns
containers/cloudflare_ddns/*
!containers/cloudflare_ddns/config

## Track scripts only
!scripts
scripts/*

!scripts/*.script
!scripts/*.sh